body {
  margin: 0;
  font-family: 'Paperlogy', sans-serif;
  background-color: white;
}

.login-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #0f1e50;
}

.top-menu {
  position: absolute;
  top: 20px;
  right: 30px;
}

.top-button {
  margin-left: 16px;
  font-weight: bold;
  background: none;
  border: none;
  color: #0f1e50;
  cursor: pointer;
}

.top-button:hover {
  text-decoration: underline;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 600;
}

.login-button {
  width: 479px;
  height: 70px;
  padding: 12px;
  margin: 8px 0;
  font-size: 22px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;      
  justify-content: center;  
  align-items: center;      
  gap: 10px;                
  margin: 0 auto;
}

.kakao {
  background-color: #fee500;
  color: #000;
}


.naver {
  background-color: #03c75a;
  color: #fff;
}


.google {
  background-color: #fff;
  color: #555;
  border: 1px solid #ddd;
}

.social-logo {
  height: 100px; 
  object-fit: contain;
}
.google-img-button {
  all: unset; /* 버튼 기본 스타일 제거 */
  cursor: pointer;
}

.google-img-button img {
  width: 100%;      /* 버튼 크기에 맞춤 */
  max-width: 479px; /* 원하는 최대 너비 조절 */
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}