.title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 24px;
}
.main{
  margin-bottom: 60px;
}
/* 전체 레이아웃 */
.profileedit-container {
    display: flex;
    min-height: 100vh;
    font-family: "Cafe24Ssurround", sans-serif;
    overflow: hidden;
  }

  .sidebar {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    flex-shrink: 0;
    background-color: #f7f6fc;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    justify-content: center;
  }
/* 버튼 스타일 */
.sidebar button {
  font-family: 'Cafe24Ssurround', sans-serif;
  font-size: 24px;
  width: 100%;
  min-width: 0; 
  max-width: 100%;
  padding: 4px;
  white-space: normal;         
  word-break: break-word;    
  overflow-wrap: break-word;
  line-height: 1.2;
  text-align: center;
  height: 40px;

  background-color: #f7f6fc;
  color: #09144D;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
  transform: translateY(-150px);
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

