
/* 전체 레이아웃 */
.emailmanage-container {
    display: flex;
    min-height: 100vh;
    font-family: "Cafe24Ssurround", sans-serif;
  }
  
  /* 사이드바 */
  .sidebar {
    width: 100px;
    background-color: #f7f6fc;
    padding: 20px 10px;
  }
  