.title {
  text-align: center;
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.section{
  margin-bottom: 90px;
}
/* 전체 레이아웃 */
.emailmanage-container {
    display: flex;
    min-height: 100vh;
    font-family: "Cafe24Ssurround", sans-serif;
    overflow: hidden;
    margin-bottom: 24px;
  }

/* 사이드바 */
.sidebar {
  width: 100px;
  background-color: #f7f6fc;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.sidebar button {
  font-family: "Cafe24Ssurround", sans-serif;
  font-size: 24px;
  width: 100%;
  padding: 4px;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  height: 40px;
  background-color: #f7f6fc;
  color: #09144D;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 24px;
  transform: translateY(-150px);
}
.sidebar-buttons button:nth-child(2) {
  margin-bottom: 40px; /* 메일 관리 아래에 여백 추가 */
}
